.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px crimson;
}

.note
{
    font-size: 15px;
    color: rgb(70, 70, 70);
}

.copy_right_footer {
    position: fixed;
    color: indigo;
    bottom: 0;
    width: 100%;
    background-color: cyan;
    line-height: 3;
    text-align: center;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px green;
}

.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px crimson;
}